.idea
.vscode
/.github

/core
/db
db.php
stubs.php

**/node_modules
/vendor
**/composer.lock
/composer.json
**/package-lock.json
/phpcs.xml
/plugins

themes/xorit/build/
themes/twentytwentyfour/
themes/twentytwentyfive/
themes/twentytwentythree/

upgrade/
uploads/
.phpunit.result.cache

debug.log
/ai1wm-backups
