@import 'vars';
@import 'media-queries';

// Theme settings for editor and frontend
@mixin website_style_guide {
	// Colors
	--color-bg: #{$clr-bg};
	--color-text: #{$clr-base};
	--color-primary: #{$clr-primary};
	--color-second: #{$clr-second};
	--color-action: #{$clr-action};

	background: var(--color-bg);
	color: var(--color-text);
	font-family: $font-family-primary;
	font-size: $base-font-size;
	line-height: 1.25;
	font-weight: 500;

	@media (min-width: $desktop-width) {
		font-size: $calc-font-size;
	}
	@include lg-down {
		font-size: $base-font-size-lg;
	}
	@include md-down {
		font-size: $calc-font-size;
	}
}

// Apply hover effects for supported devices only (prevent on touch screen)
@mixin mouseover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin link-hover($transition: $transition-default, $opacity: .7) {
	transition: opacity $transition;

	@include mouseover {
		opacity: $opacity;
	}
}

// Add ellipsis to the end of the string
@mixin ellipsis($width) {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: $width;
}

// Limit the number of text lines
@mixin rows_limit($rows) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $rows;
	line-clamp: $rows;
	-webkit-box-orient: vertical;
}
