@use 'sass:math';

@import 'media-queries';

// Font families
$font-family-primary: 'Manrope', 'sans-serif';
$font-family-second: 'Onest', 'sans-serif';

// Colors
$clr-bg: #EAEBED;
$clr-base: #20202C;
$clr-primary: blue;
$clr-second: yellow;
$clr-action: #C32F33;

$clr-gray: #C5C5C5;
$clr-soft-gray: #EAEBED;
$clr-dark-gray: #E2E3E6;
$clr-smoky-gray-blue: #292E3E;
$clr-secondary-dark: #292E3E;
$clr-red-hover: #A31418;
$clr-red-active: #8E070B;
$clr-red-disabled: #ECBCBD;

// Sizes
$desktop-width: 1440px; // Which is in design
$calc-font-size: 16px;
$base-font-size:  inVw($calc-font-size, $desktop-width);
$base-font-size-lg: inVw($calc-font-size, $responsive-lg);

// Paths
$path-images: '../images'; // Path to src images from default entry points
$path-images-inline: '../../images'; // Path to src images from inlined entry points
$path-static-media: '../../static_media'; // Path to non-compiling images from default entry points
$path-static-media-inline: '../../../static_media'; // Path to non-compiling images from inlined entry points
// Example of use: background: url(#{$path-images}/image-name.jpg);

$transition-default: .3s ease;

$base-outer-padding-desktop: inEm(40px);
$base-outer-padding-mobile: inEm(20px);
$base-container-width: 1360px;
$small-container-width: 980px;
