@import '../helpers';
@import '../helpers/helpers-front-only';

.x-contacts-hero {
	padding-top: inEm(242px);
	background: $clr-base;
	color: $clr-soft-gray;

	@include md-down {
		padding-top: inEm(84px);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 50%);

		@include md-down {
			grid-template-columns: 1fr;
		}
	}

	&__left-side {

		@include md-up {
			padding-right: inEm(160px);
		}

		@include md-down {
			text-align: center;
		}
	}

	&__title-side {
		row-gap: inEm(30px);

		@include md-down {
			row-gap: inEm(21px);
		}
	}

	&__description-container {

		@include md-down {
			max-width: inEm(189px);
			margin-inline: auto;
		}
	}

	&__contacts {
		margin-top: inEm(74px);
		row-gap: inEm(16px);

		@include md-down {
			margin-top: inEm(21px);
			row-gap: inEm(14px);
		}
	}

	&__contact-container {
		column-gap: inEm(16px);

		@include md-up {
			justify-content: flex-start;
		}

		@include md-down {
			column-gap: inEm(10px);
		}

		&_address {
			margin-top: inEm(8px);

			@include md-down {
				max-width: inEm(250px);
				margin-inline: auto;

				.x-contacts-hero__contact {
					font-family: $font-family-primary;
					font-size: inEm(14px);
					line-height: 1;
					font-weight: 500;
				}
			}
		}

		&:not(&_address) {

			@include md-down {
				margin-top: 0 !important;
			}
		}
	}

	&__button-container {
		margin-top: inEm(64px);

		@include md-down {
			margin-top: inEm(35px);
		}
	}

	&__map-container {
		width: 100%;
		aspect-ratio: 681 / 493;

		@include md-down {
			aspect-ratio: 350 / 145;
			margin-top: inEm(35px);
		}

		div, iframe {
			width: 100%;
			height: 100%;
		}
	}
}
