@import '../helpers';
@import '../helpers/helpers-front-only';

.x-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	line-height: 1;
	color: $clr-soft-gray;
	transition: transform $transition-default, background $transition-default;

	&_sticky {
		background: $clr-base;
	}

	&_hidden {
		transform: translateY(-100%);
	}

	&__wrapper {

		@include md-down {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__upper-side {
		min-height: inEm(94px);
		padding-bottom: inEm(25px);
		row-gap: inEm(15px);
		border-bottom: 1px solid $clr-soft-gray;

		@include md-down {
			align-items: center;
			min-height: inEm(48px);
			border: none;
			padding-bottom: 0;
		}
	}

	&__left-side {
		column-gap: inEm(9px);
	}

	&__logo-container {

		a {
			@include link-hover;
		}

		img {
			max-width: inEm(117px);
			height: auto;

			@include md-down {
				max-width: inEm(71px);
			}
		}
	}

	&__logo-note {
		font-size: inEm(13px);
		font-weight: 500;
	}

	&__menu-container {

		@include md-down {
			visibility: hidden;
			opacity: 0;
			position: fixed;
			top: inEm(48px);
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			background: $clr-base;
			overflow-y: auto;
			scroll-behavior: smooth;
			transition: opacity .3s ease, visibility 0s .3s;
		}
	}

	&__menu-inner {
		column-gap: inEm(24px);

		@include md-down {
			align-items: flex-start;
			padding: inEm(32px) 0 inEm(43px);
			flex-direction: column;
		}

		li {
			list-style-type: none;

			a {
				font-size: inEm(16px);

				@include md-down {
					font-size: inEm(18px);
					line-height: 1.2;
				}

				&[href="#"] {
					pointer-events: none;
				}
			}
		}

		& > ul { // main menu
			display: flex;
			margin-bottom: inEm(-26px);

			@include md-down {
				flex-direction: column;
				margin-bottom: 0;
			}

			& > li {
				position: relative;
				padding-bottom: inEm(14px);

				@include md-down {
					padding-bottom: 0;

					&.x-menu-item-opened {

						ul.sub-menu {
							display: flex;
						}
					}
				}

				@media (hover: hover) {

					&:hover {

						& > ul {
							visibility: visible;
							opacity: 1;
							transition: opacity $transition-default;
						}

						& > a {
							background: $clr-action;
						}
					}

					&:active {

						& > a {
							background: $clr-red-active;
						}
					}
				}

				&:nth-last-child(-n+2) {

					& > ul {
						inset-inline-end: 0;
					}
				}

				& > a {
					display: block;
					padding: inRem(12px) inRem(22px);
					transition: background $transition-default;

					@include md-down {
						padding: inRem(5px) inRem(20px);
					}
				}

				& > ul { // sub menu
					position: absolute;
					z-index: 1;
					top: 100%;
					background: $clr-base;
					width: max-content;
					max-width: inEm(317px);
					padding: inEm(28px) inEm(38px) inEm(28px) inEm(43px);
					display: flex;
					flex-direction: column;
					row-gap: inEm(12px);
					visibility: hidden;
					opacity: 0;
					transition: opacity .3s ease, visibility 0s ease .3s;

					@include md-down {
						display: none;
						position: relative;
						opacity: 1;
						visibility: visible;
						max-width: none;
						row-gap: inEm(10px);
						padding: inEm(11px) inEm(20px) inEm(27px) inEm(44px);
					}

					li {

						&.current-menu-item {

							a {
								font-weight: 800;

								&::before {
									opacity: 1;
								}
							}
						}

						a {
							position: relative;
							@include link-hover;

							@include md-down {
								font-size: inEm(14px);

								&:focus {
									color: $clr-graphite;
								}
							}

							&::before {
								content: '';
								position: absolute;
								width: 9px;
								height: 9px;
								border-radius: 50%;
								background: $clr-action;
								inset-inline-start: inRem(-21px);
								inset-block-start: 50%;
								transform: translateY(-50%);
								opacity: 0;
								transition: opacity $transition-default;

								@include md-down {
									inset-block-start: 55%;
								}
							}
						}
					}

					ul {
						display: none !important;
					}
				}
			}
		}
	}

	&__email-container {
		flex-shrink: 0;
	}

	&__email {
		font-size: inEm(16px);
	}

	&__lower-side {
		padding: inEm(20px) 0;

		@include md-down {
			padding: 0;
			align-items: center;
			column-gap: inEm(20px);
		}
	}

	&__address {
		font-size: inEm(12px);
	}

	&__phone {
		font-family: $font-family-second;
		font-size: inEm(28px);
		line-height: 1.15;
		font-weight: 600;

		@include md-down {
			font-size: inEm(16px);
			line-height: normal;
		}
	}

	@include md-down {

		&__mobile-menu-button {
			font-size: initial;
			width: inEm(40px);
			height: inEm(30px);

			svg {
				pointer-events: none;
				inset: 0;
				margin: auto;
				transition: opacity $transition-default;

				&:nth-child(2) {
					opacity: 0;
				}
			}
		}

		&__mobile-contacts {
			border-top: 1px solid $clr-soft-gray;
			width: calc(100% - #{inEm(40px)});
			margin: inEm(16px) auto 0;

			&-item {
				margin-top: inEm(15px) !important;
				justify-content: flex-start;
			}
		}
	}
}

@include md-down {

	body.x-menu-opened {
		overflow: hidden;

		.x-header {

			&__mobile-menu-button {

				svg {
					opacity: 0;

					&:nth-child(2) {
						opacity: 1;
					}
				}
			}

			&__menu-container {
				visibility: visible;
				opacity: 1;
				transition: opacity $transition-default;
			}
		}
	}
}

