@import '../helpers';
@import '../helpers/helpers-front-only';

.x-main-hero {
	position: relative;
	min-height: inEm(650px);
	background-color: $clr-base;
	color: $clr-soft-gray;

	@include md-down {
		min-height: auto;
	}

	&::before {
		content: '';
		position: absolute;
		inset-block-start: 0;
		inset-inline-end: inEm(-30px);
		width: inEm(1298px);
		height: inEm(1409px);
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url($path-static-media-inline + '/hero-background.svg');

		@include md-down {
			width: inEm(876px);
			height: inEm(952px);
			inset-inline-end: inEm(-36px);
			background-image: url($path-static-media-inline + '/hero-background-mobile.svg');
		}
	}

	&__wrapper {
		position: relative;
		padding: inEm(194px) 0 inEm(94px);
		column-gap: inEm(23px);

		@include md-down {
			padding: inEm(83px) 0 inEm(48px);
			flex-direction: column;
		}
	}

	&__content-container {
		max-width: inEm(758px);
	}

	&__title {
		font-family: $font-family-second;
		font-size: inEm(60px);
		line-height: 1.15;
		font-weight: 600;

		@include md-down {
			font-size: inEm(30px);
		}
	}

	&__description-container {
		margin-top: inEm(28px);

		@include md-down {
			margin-top: inEm(12px);
		}
	}

	&__description {
		font-family: $font-family-second;
		font-weight: 600;
		font-size: inEm(28px);

		@include md-down {
			font-size: inEm(18px);
		}
	}

	&__button-container {
		margin-top: inEm(64px);

		@include md-down {
			margin-top: inEm(24px);
		}
	}

	&__items-container {
		flex-grow: 1;
		padding-top: inEm(20px);
		row-gap: inEm(33px);

		@include md-down {
			margin-top: inEm(48px);
			row-gap: inEm(12px);
		}
	}

	&__items-row {
		display: flex;
		flex-wrap: wrap;

		@include md-up {

			&:nth-child(even) {
				justify-content: flex-end;
			}
		}
	}

	&__item-wrapper {
		position: relative;
		padding-top: inEm(20px);
		padding-left: inEm(30px);

		@include md-down {
			width: 100%;
			padding-top: inEm(15px);
		}

		&::before {
			content: '';
			position: absolute;
			height: inEm(1px);
			top: inEm(7px);
			inset-inline-start: inEm(15px);
			inset-inline-end: 0;
			background: $clr-soft-gray;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			inset-inline-start: 0;
			width: inEm(15px);
			height: inEm(15px);
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url($path-static-media-inline + '/hero-point.svg');
		}
	}

	&__item {
		font-size: inEm(16px);

		@include md-down {
			@include min-font;

			br {
				display: none;
			}
		}
	}
}
