@import '../helpers';
@import '../helpers/helpers-front-only';

.x-single-hero {
	background: $clr-base;
	color: $clr-soft-gray;
	min-height: inEm(650px);
	overflow: hidden;

	@include md-down {
		min-height: auto;
	}

	&_pulse & {

		&__background-image-container {
			inset-block: 0;
			inset-inline: inEm(-40px);
			width: auto;
			aspect-ratio: auto;
		}

		&__background-sphere {
			filter: blur(#{inEm(70px)});
			aspect-ratio: 1/1;
			border-radius: 50%;
			animation: pulse 4s ease-in-out infinite;

			&_blue {
				width: inEm(398px);
				background: rgba($clr-muted-blue, .25);
				inset-block-start: inEm(-20px);
				inset-inline-start: inEm(480px);
				animation-duration: 6s;
			}

			&_red {
				width: inEm(325px);
				background: rgba($clr-dec-red, .3);
				inset-block-start: inEm(295px);
				inset-inline-end: inEm(130px);
				animation-duration: 4s;
			}
		}
	}

	@keyframes pulse {
		0%, 100% {
			opacity: 1;
			transform: scale(1);
		}
		50% {
			opacity: 0.7;
			transform: scale(1.1);
		}
	}

	&__wrapper {
		position: relative;
		padding: inEm(194px) 0 inEm(96px);

		@include md-down {
			padding: inEm(83px) 0 inEm(48px);
		}
	}

	&__background-image-container {
		width: inEm(1537px);
		aspect-ratio: 1537 / 790;
		inset-block-start: inEm(150px);
		inset-inline-start: inEm(-83px);
		inset-inline-end: inEm(-62px);

		@include md-down {
			width: inEm(787px);
			inset-block-start: inEm(51px);
			inset-inline-start: auto;
			inset-inline-end: inEm(-90px);
		}
	}

	&__description-container {
		margin-top: inEm(32px);
		max-width: inEm(1071px);

		@include md-down {
			margin-top: inEm(28px);
			max-width: none;
		}
	}

	&__button-container {
		margin-top: inEm(64px);

		@include md-down {
			margin-top: inEm(35px);
		}
	}
}
