@import '../helpers';
@import '../helpers/helpers-front-only';

.x-single-hero {
	background: $clr-base;
	color: $clr-soft-gray;
	min-height: inEm(650px);
	overflow: hidden;

	@include md-down {
		min-height: auto;
	}

	&__wrapper {
		position: relative;
		padding: inEm(194px) 0 inEm(96px);

		@include md-down {
			padding: inEm(83px) 0 inEm(48px);
		}
	}

	&__background-image-container {
		width: inEm(1537px);
		aspect-ratio: 1537 / 790;
		inset-block-start: inEm(150px);
		inset-inline-start: inEm(-83px);
		inset-inline-end: inEm(-62px);

		@include md-down {
			width: inEm(787px);
			inset-block-start: inEm(51px);
			inset-inline-start: auto;
			inset-inline-end: inEm(-90px);
		}
	}

	&__content-container {
		max-width: inEm(1071px);
	}

	&__description-container {
		margin-top: inEm(32px);

		@include md-down {
			margin-top: inEm(28px);
		}
	}

	&__button-container {
		margin-top: inEm(64px);

		@include md-down {
			margin-top: inEm(35px);
		}
	}
}
