@import '../../node_modules/swiper/swiper.min.css';

@import 'helpers/helpers-front-only';

@import 'components/tasks';
@import 'components/simple-banner';
@import 'components/services';
@import 'components/tabs';
@import 'components/advantages';
@import 'components/stack';
@import 'components/partners';
@import 'components/clients';
@import 'components/request';
@import 'components/companies';
@import 'components/faq';
@import 'components/posts';
@import 'components/footer';
@import 'components/popup';
@import 'components/four-cards';
@import 'components/infographics';
@import 'components/steps';
@import 'components/three-cards';
@import 'components/logo-groups';
