.x-button {
	display: inline-block;
	background: $clr-action;
	color: $clr-bg;
	font-size: inEm(14px);
	padding: inRem(20px) inRem(30px);
	transition: background $transition-default;

	@include md-down {
		padding: inRem(10px) inRem(20px);
		@include min-font;
	}

	@media (hover: hover) {

		&:hover {
			background: $clr-red-hover;
		}

		&:active {
			background: $clr-red-active;
		}
	}

	&_white {
		background: $clr-bg;
		color: $clr-secondary-dark;
		border: 1px solid $clr-secondary-dark;
		transition: border-color $transition-default, color $transition-default;

		@media (hover: hover) {

			&:hover {
				background: $clr-bg;
				border-color: $clr-red-disabled;
				color: $clr-red-disabled;
			}

			&:active {
				background: $clr-bg;
				border-color: $clr-action;
				color: $clr-action;
			}
		}
	}

	&_light {
		background: transparent;
		border: 1px solid $clr-soft-gray;
		transition: border-color $transition-default, color $transition-default;

		@media (hover: hover) {

			&:hover {
				background: transparent;
				color: $clr-secondary-light;
				border-color: $clr-secondary-light;
			}

			&:active {
				background: transparent;
				color: $clr-soft-gray;
				border-color: $clr-soft-gray;
			}
		}
	}
}
