.x-card {
	text-align: center;

	&_no-image & {

		&__inner {
			justify-content: flex-end;
		}
	}

	&__inner {
		background: $clr-dark-gray;
		padding: inEm(30px);
		row-gap: inEm(18px);
		height: 100%;

		@include md-down {
			padding-block: inEm(40px);
			min-height: inEm(200px);
		}
	}

	&__image-container {
		width: inEm(62px);
		height: inEm(57px);
	}
}
