.x-faq-items {
	row-gap: inEm(40px);

	@include md-down {
		row-gap: inEm(24px);
	}

	&__item {
		border-bottom: 1px solid $clr-base;
		padding-bottom: inEm(24px);

		@include md-down {
			padding-bottom: inEm(12px);
		}
	}

	&__input {
		display: none;

		&:checked {

			& ~ .x-faq-items__question {

				.x-faq-items__question-icon {

					svg {
						transform: rotate(45deg);
					}
				}
			}

			& ~ .x-faq-items__answer {
				z-index: auto;
				opacity: 1;
				height: auto;

				.x-faq-items__answer-inner {
					transform: translateY(0);
				}
			}
		}
	}

	&__question {
		position: relative;
		cursor: pointer;
		column-gap: inEm(40px);
	}

	&__question-title {
		display: block;
	}

	&__question-icon {
		flex-shrink: 0;
		width: inEm(30px);
		height: inEm(30px);

		svg {
			transition: transform $transition-default;
		}
	}

	&__answer {
		position: relative;
		height: 0;
		z-index: -1;
		opacity: 0;
		overflow: hidden;
		transition: opacity $transition-default;
	}

	&__answer-inner {
		position: relative;
		padding: inRem(32px) 0 0;
		transform: translateY(inRem(-20px));
		transition: transform $transition-default;

		@include md-down {
			padding-top: inRem(15px);
		}
	}
}
