.x-advantages {
	$gap: inEm(75px);

	margin-top: inEm(96px);
	background: $clr-base;
	color: $clr-soft-gray;
	text-align: center;

	@include md-down {
		margin-top: 0;

		&::before {
			content: '';
			position: absolute;
			inset-block-start: inEm(196px);
			inset-inline-start: inEm(-102px);
			width: inEm(419px);
			aspect-ratio: 1/1;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url($path-static-media + '/blue-sphere.svg');
		}
	}

	@include md-down {

		&_mobile-points {
			text-align: left;

			&::before {
				content: none;
			}
		}
		&_mobile-points & {

			&__image-container {
				display: none;
			}

			&__items {
				position: relative;
				margin-top: inEm(35px);
				margin-left: inEm(8px);
				padding-left: inEm(22px);
				row-gap: inEm(28px);

				&::before {
					content: '';
					position: absolute;
					inset-block-start: inEm(6px);
					inset-block-end: 0;
					inset-inline-start: 0;
					width: inEm(1px);
					background: $clr-bg;
				}
			}

			&__item {
				padding: 0;
				background: transparent;
				row-gap: inEm(14px);

				&:last-child {

					&::before {
						content: '';
						position: absolute;
						width: inEm(3px);
						height: calc(100% - #{inEm(10px)});
						background: $clr-base;
						inset-block-end: -1px;
						inset-inline-start: inEm(-23px);
					}
				}

				&-title-container {
					position: relative;

					&::before,
					&::after {
						content: '';
						position: absolute;
						border-radius: 50%;
					}

					&::before {
						border: 1px solid $clr-light-point;
						background: $clr-base;
						inset-block: 0;
						width: inEm(15px);
						height: inEm(15px);
						inset-block-start: inEm(4px);
						inset-inline-start: inEm(-29px);
					}

					&::after {
						inset: 0;
						width: inEm(9px);
						height: inEm(9px);
						background: $clr-muted-blue;
						inset-block-start: inEm(7px);
						inset-inline-start: inEm(-26px);
					}
				}

				&-title {
					font-size: inEm(18px);
				}
			}
		}
	}

	&_service {
		margin-top: 0;
	}
	&_service & {

		&__wrapper {
			padding-top: inEm(128px);

			@include md-down {
				padding-top: inEm(48px);
			}
		}

		&__image-container {
			inset-block-start: inEm(96px);

			@include md-down {
				display: block;
				width: auto;
				height: max-content;
				inset: 0;
				margin-block: auto;
			}
		}

		&__items {

			@include md-down {
				row-gap: inEm(14px);
			}
		}

		&__item-title {
			font-size: inEm(28px);

			@include md-down {

				br {
					display: none;
				}
			}
		}
	}

	&__image-container {
		inset-block-start: inEm(36px);
		inset-inline-start: -100%;
		inset-inline-end: -100%;
		width: inEm(1440px);
		margin-inline: auto;

		@include md-down {
			inset-block-start: inEm(100px);
			inset-inline-start: auto;
			inset-inline-end: inEm(7px);
			width: inEm(200px);
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__wrapper {
		position: relative;
		padding-block: inEm(96px);

		@include md-down {
			padding-block: inEm(48px);
		}
	}

	@include md-down {

		&__title {

			br {
				display: none;
			}
		}
	}

	&__items {
		margin-top: inEm(64px);
		display: grid;
		column-gap: $gap;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		max-width: calc(4 * #{inEm(280px)} + calc(3 * #{$gap}));

		@include md-down {
			margin-top: inEm(46px);
			grid-template-columns: 1fr;
			row-gap: inEm(12px);
		}
	}

	&__item {
		position: relative;
		row-gap: inEm(30px);
		padding-top: inEm(40px);

		@include md-up {

			&::after {
				content: '';
				position: absolute;
				z-index: 1;
				width: inEm(15px);
				height: inEm(15px);
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url($path-static-media + '/hero-point.svg');
				background-color: $clr-base;
				border-radius: 50%;
				top: 0;
				inset-inline-start: 50%;
				transform: translateX(-50%) translateY(-50%);
			}

			&:first-child {

				&::before {
					inset-inline-start: 50%;
				}
			}

			&:last-child {

				&::before {
					inset-inline-end: 50%;
				}
			}

			&::before {
				content: '';
				position: absolute;
				inset-block-start: 0;
				inset-inline: calc(-#{$gap} / 2);
				height: inEm(1px);
				background: $clr-soft-gray;
			}
		}

		@include md-down {
			background: $clr-secondary-dark;
			padding: inEm(28px);
			row-gap: inEm(12px);
		}
	}

	&__button-container {
		margin-top: inEm(64px);

		@include md-down {
			margin-top: inEm(35px);
			justify-content: flex-start;
		}
	}
}
