.x-advantages {
	margin-top: inEm(96px);
	background: $clr-base;
	color: $clr-soft-gray;
	text-align: center;

	@include md-down {
		margin-top: 0;

		&::before {
			content: '';
			position: absolute;
			inset-block-start: inEm(196px);
			inset-inline-start: inEm(-102px);
			width: inEm(419px);
			aspect-ratio: 1/1;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url($path-static-media + '/blue-sphere.svg');
		}
	}

	&__image-container {
		inset-block-start: inEm(36px);
		inset-inline-start: -100%;
		inset-inline-end: -100%;
		width: inEm(1440px);
		margin-inline: auto;

		@include md-down {
			inset-block-start: inEm(100px);
			inset-inline-start: auto;
			inset-inline-end: inEm(7px);
			width: inEm(200px);
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__wrapper {
		position: relative;
		padding-block: inEm(96px);

		@include md-down {
			padding-block: inEm(48px);
		}
	}

	@include md-down {

		&__title {

			br {
				display: none;
			}
		}
	}

	&__items {
		margin-top: inEm(64px);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: inEm(75px);

		@include md-down {
			margin-top: inEm(46px);
			grid-template-columns: 1fr;
			row-gap: inEm(12px);
		}
	}

	&__item {
		position: relative;
		row-gap: inEm(30px);
		padding-top: inEm(40px);

		@include md-up {

			&::after {
				content: '';
				position: absolute;
				z-index: 1;
				width: inEm(15px);
				height: inEm(15px);
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url($path-static-media + '/hero-point.svg');
				top: 0;
				inset-inline-start: 50%;
				transform: translateX(-50%) translateY(-50%);
			}

			&:not(:first-child) {

				&::before {
					content: '';
					position: absolute;
					top: 0;
					inset-inline-end: 50%;
					height: inEm(1px);
					width: inEm(355px);
					background: $clr-soft-gray;
				}
			}
		}

		@include md-down {
			background: $clr-secondary-dark;
			padding: inEm(28px);
			row-gap: inEm(12px);
		}
	}
}
