@import '../helpers/mixins';

.x-clients {
	background: $clr-base;
	color: $clr-soft-gray;
	overflow: hidden;

	&_categories & {

		&__dec {
			display: flex;
			justify-content: center;
			align-items: center;

			&_blue {
				width: inEm(850px);
				aspect-ratio: 1/1;
				height: auto;
				inset-block-start: inEm(1289px);
				inset-inline-start: inEm(-246px);

				&::before {
					background: rgba($clr-muted-blue, .15);
				}

				img {
					width: inEm(407px);
					height: inEm(407px);
				}
			}

			&_red {
				width: inEm(1100px);
				aspect-ratio: 1/1;
				height: auto;
				inset-block-start: inEm(7px);
				inset-inline-start: inEm(67px);

				&::before {
					background: rgba($clr-dec-red, .15);
				}

				img {
					width: inRem(592px);
					height: inRem(592px);
				}
			}

			&::before {
				content: '';
				position: absolute;
				inset-block-start: 0;
				inset-inline-start: 0;
				width: 100%;
				height: 100%;
				filter: blur(#{inEm(250px)});
				border-radius: 50%;
			}
		}
	}

	&__wrapper {
		padding: inEm(94px) 0 inEm(90px);
	}

	&__dec {

		&_blue {
			width: inEm(798px);
			height: inEm(798px);
			inset-block-start: inEm(362px);
			inset-inline-start: inEm(-261px);
		}

		&_red {
			width: inEm(650px);
			height: inEm(650px);
			inset-block-start: inEm(164px);
			inset-inline-start: inEm(355px);
		}
	}

	&__grid {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: inEm(87px);
	}

	&__items {
		row-gap: inEm(20px);
	}

	&__item {
		display: flex;
		flex-direction: column;
		background: $clr-secondary-dark;
		padding: inEm(40px);
		row-gap: inEm(24px);


		&-description-container {
			@include list($path-static-media + '/hero-point.svg');
		}

		&-quote {
			font-size: inEm(20px);
			line-height: normal;
			color: $clr-muted-blue;
		}
	}

	&__title-wrapper {
		height: max-content;
	}

	&__description-container {
		margin-top: inEm(16px);
		max-width: inEm(550px);
	}

	&__button-container {
		margin-top: inEm(64px);
	}
}
