.x-companies {
	background: $clr-base;
	color: $clr-soft-gray;
	text-align: center;
	padding-top: inEm(94px);
	padding-bottom: inEm(96px);

	@include md-down {
		order: 1 !important;
		margin-top: 0;
		padding-block: inEm(48px);
	}

	&__items {
		margin: inEm(73px) inEm(-45px) inEm(-20px);

		@include md-down {
			margin: inEm(15px) inEm(-20px) inEm(-10px);
		}
	}

	&__item {
		max-width: 25%;
		flex: 0 0 25%;
		padding: inEm(20px) inEm(45px);

		@include md-down {
			max-width: 33.3333%;
			flex: 0 0 33.3333%;
			padding: inEm(10px) inEm(20px);
		}
	}

	&__item-image {
		max-width: inEm(278px);
		max-height: inEm(116px);

		@include md-down {
			max-width: inEm(89px);
			max-height: inEm(37px);
		}
	}
}
