.x-faq {
	padding-block: inEm(96px);
	background: $clr-dark-gray;

	@include md-down {
		padding-block: inEm(48px);
	}

	&_light {
		background: initial;
	}

	&_columns {
		overflow: hidden;
		margin-bottom: inEm(-96px);

		@include md-down {
			margin-bottom: 0;
		}
	}
	&_columns & {

		&__wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: inEm(20px);

			@include md-down {
				grid-template-columns: 1fr;
				row-gap: inEm(34px);
			}
		}

		@include md-up {

			&__title-container {
				padding-right: inEm(40px);
			}
		}

		&__items {
			margin-top: 0;
		}
	}

	&__image-container {
		width: inEm(1145px);
		aspect-ratio: 1 / 1;
		inset-block-start: inEm(-135px);
		inset-inline-start: inEm(-278px);

		@include md-down {
			width: inEm(764px);
			inset-block-start: inEm(21px);
			inset-inline-start: auto;
			inset-inline-end: inEm(-89px);
		}
	}

	&__items {
		margin-top: inEm(64px);

		@include md-down {
			margin-top: inEm(36px);
		}
	}
}
