.x-faq {
	padding-block: inEm(96px);
	background: $clr-dark-gray;

	&__items {
		margin-top: inEm(64px);
		row-gap: inEm(40px);
	}

	&__item {
		border-bottom: 1px solid $clr-base;
		padding-bottom: inEm(24px);
	}

	&__input {
		display: none;

		&:checked {

			& ~ .x-faq__question {

				.x-faq__question-icon {

					svg {
						transform: rotate(45deg);
					}
				}
			}

			& ~ .x-faq__answer {
				z-index: auto;
				opacity: 1;
				height: auto;

				.x-faq__answer-inner {
					transform: translateY(0);
				}
			}
		}
	}

	&__question {
		position: relative;
		cursor: pointer;
		column-gap: inEm(40px);
	}

	&__question-title {
		display: block;
	}

	&__question-icon {
		flex-shrink: 0;
		width: inEm(30px);
		height: inEm(30px);

		svg {
			transition: transform $transition-default;
		}
	}

	&__answer {
		position: relative;
		height: 0;
		z-index: -1;
		opacity: 0;
		overflow: hidden;
		transition: opacity $transition-default;
	}

	&__answer-inner {
		position: relative;
		padding: inRem(32px) 0 0;
		transform: translateY(inRem(-20px));
		transition: transform $transition-default;
	}
}
