.x-footer {
	background: $clr-base;
	color: $clr-soft-gray;
	padding-block: inEm(96px);

	@include md-down {
		padding-block: inEm(48px);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include md-down {
			grid-template-columns: 1fr;
		}
	}

	&__logo-container {
		width: max-content;

		@include md-down {
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			gap: inEm(12px);
		}
	}

	&__logo {
		max-width: inEm(192px);
		height: auto;

		@include md-down {
			max-width: inEm(69px);
		}
	}

	&__logo-text {
		margin-top: inRem(16px);

		@include md-down {
			margin-top: 0;
			font-size: inEm(12px);
		}
	}

	&__inner-grid {
		margin-top: inEm(46px);
		padding-right: inEm(135px);
		display: grid;
		grid-template-columns: auto inEm(210px);
		column-gap: inEm(31px);

		@include md-down {
			margin-top: inEm(36px);
			padding-right: 0;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 0;
		}
	}

	&__nav {

		@include md-down {
			padding-right: inEm(40px);
		}

		& > ul {
			list-style-type: none;
			row-gap: inEm(16px);

			@include md-down {
				row-gap: inEm(12px);
			}

			li {

				a {
					font-size: inEm(16px);
					line-height: 1.46;
					@include link-hover;

					@include md-down {
						@include min-font;
						line-height: normal;
					}
				}
			}

			ul {
				display: none !important;
			}
		}
	}

	&__contacts {
		row-gap: inEm(16px);

		@include md-down {
			row-gap: inEm(10px);
		}
	}

	&__terms {
		margin-top: inEm(44px);
	}

	&__terms-list {
		list-style-type: none;
		row-gap: inEm(8px);
	}

	&__terms-link {
		color: rgba($clr-soft-gray, .6);
	}

	&__right {
		padding-top: inEm(64px);
		width: inEm(470px);
	}

	&__form-title-container {
		margin-bottom: inEm(46px);
	}

	@include md-down {

		&__button-container {
			margin-top: inEm(19px);
		}
	}
}
