.x-four-cards {
	margin-top: inEm(96px);
	margin-bottom: inEm(96px);

	@include md-down {
		margin-top: inEm(48px);
		margin-bottom: inEm(48px);
	}

	&__items {
		margin: inEm(-10px);
		width: auto;

		@include md-down {
			margin: inEm(-7px);
		}
	}

	&__item {
		padding: inEm(10px);
		flex: 0 0 25%;
		max-width: 25%;

		@include md-down {
			padding: inEm(7px);
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
