.x-partners {
	$duration: 30s;

	background: $clr-dark-gray;
	margin-top: inEm(58px);
	padding-top: inEm(96px);
	padding-bottom: inEm(94px);

	@include md-down {
		margin-top: 0;
		padding-block: inEm(48px);
	}

	&__wrapper {
		overflow: hidden;
	}

	&__title-container {
		text-align: center;
	}

	&__items {
		display: flex;
		margin-top: inEm(70px);

		@include md-down {
			margin-top: inEm(36px);
		}
	}

	&__items-group {
		display: flex;
		align-items: center;
		column-gap: inEm(40px);
		padding-right: inEm(40px);
		width: max-content;
		animation: ticker $duration linear infinite;

		@include md-down {
			column-gap: inEm(23px);
			padding-right: inEm(23px);
		}

		&_g2 {
			animation-delay: $duration / 2;
		}
	}

	&__item {
		width: max-content;

		@include md-down {

			img {
				max-height: inEm(37px);
			}
		}
	}
}

@keyframes ticker {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

