.x-popup {
	position: fixed;
	background: rgba($clr-black, .5);
	inset-block-start: 0;
	inset-inline-start: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity .3s ease, z-index 0s .3s;

	&_active {
		z-index: 10;
		opacity: 1;
		transition: opacity $transition-default;
	}

	&_message & {

		&__content {
			padding-block: inEm(64px);

			@include md-down {
				padding-block: inEm(48px);
			}
		}
	}

	&__inner {
		height: 100%;
	}

	&__content {
		background: $clr-base;
		color: $clr-soft-gray;
		width: inEm(500px);
		max-width: 100%;
		padding: inEm(89px) inEm(50px) inEm(48px);

		@include md-down {
			width: inEm(330px);
			padding: inEm(50px) inEm(30px) inEm(30px);
		}
	}

	&__close {
		width: inEm(41px);
		aspect-ratio: 1/1;
		inset-block-start: inEm(24px);
		inset-inline-end: inEm(24px);

		@include md-down {
			width: inEm(27px);
			inset-block-start: inEm(21px);
			inset-inline-end: inEm(21px);
		}

		& > * {
			pointer-events: none;
		}
	}

	&__title-container {
		text-align: center;
	}

	&__description-container {
		margin-top: inEm(16px);
	}

	&__description {
		text-align: center;
		font-size: inEm(16px);
		line-height: 1.46;

		@include md-down {
			font-size: inEm(14px);
			line-height: normal;

			br {
				display: none;
			}
		}
	}

	&__form-container {
		margin-top: inEm(24px);

		@include md-down {
			margin-top: inEm(30px);
		}

		.wpcf7 {

			&-submit {
				align-self: center;
				margin-top: inRem(20px);

				@include md-down {
					margin-top: inRem(10px);
				}
			}

			&-form-control-wrap {

				&[data-name=terms] {
					margin-top: inRem(20px);

					@include md-down {
						margin-top: inRem(10px);
					}
				}
			}

			&-spinner {
				inset-inline-start: inRem(275px);
			}
		}
	}

	&__contacts {
		margin-top: inEm(32px);
		row-gap: inEm(16px);

		@include md-down {
			margin-top: inEm(24px);
			row-gap: inEm(7px);
		}
	}

	&__contact-item {
		column-gap: inEm(8px);

		@include md-down {
			margin-top: 0 !important;
		}

		svg {
			width: inEm(32px);
			height: auto;

			@include md-down {
				width: inEm(27px);
			}

			path {

				&:nth-child(2) {
					stroke: $clr-soft-gray;
				}
			}
		}

		.x-contact-item__item {
			font-size: inEm(20px);

			@include md-down {
				font-size: inEm(14px);
			}
		}
	}

	&__button-container {
		margin-top: inEm(32px);
	}
}
