.x-posts {
	margin-top: inEm(96px);

	@include md-down {
		margin-top: inEm(48px);
	}

	&_dark {
		background: $clr-dark-gray;
		margin-top: 0;
		margin-bottom: inEm(-96px);
		padding-block: inEm(96px);

		@include md-down {
			margin-bottom: inEm(-48px);
			padding-block: inEm(48px);
		}
	}

	&__items {
		margin-top: inEm(64px);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: inEm(15px);

		@include md-down {
			margin-top: inEm(48px);
			grid-template-columns: 1fr;
			gap: inEm(36px);
		}
	}
}
