.x-request {
	margin-top: inEm(96px);
	padding-bottom: inEm(96px);
	text-align: center;

	&__description-container {
		margin: inEm(40px) 0 inEm(63px);
	}

	&__item-container {
		margin-top: inEm(33px);
		column-gap: inEm(16px);
	}

	&__button-container {
		margin-top: inEm(64px);
	}
}
