.x-request {
	margin-top: inEm(96px);
	padding-bottom: inEm(96px);
	text-align: center;

	@include md-down {
		position: relative;
		background: $clr-base;
		color: $clr-soft-gray;
		margin-top: 0;
		padding-block: inEm(48px);

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-size: calc(100% - #{inEm(40px)}) auto;
			background-position: center;
			background-image: url($path-static-media + '/request-bg.svg');
		}
	}

	&_dark {
		background: $clr-base;
		color: $clr-soft-gray;
		padding-top: inEm(96px);

		.x-contact-item__svg {

			path {

				&:nth-child(2) {
					stroke: $clr-soft-gray;
				}
			}
		}
	}

	&__threats-container {
		margin-top: inEm(40px);
		margin-bottom: inEm(64px);
		height: inEm(26px);
	}

	&__threats-inner {
		inset-inline: inEm(-40px);
	}

	&__threats-group {
		$duration: 30s;

		display: flex;
		align-items: center;
		flex-shrink: 0;
		width: max-content;
		animation: ticker $duration linear infinite;
	}

	&__threat {
		font-size: inEm(20px);
		line-height: normal;
		font-weight: 600;
		padding: 0 inRem(40px) 0 inRem(31px);
		width: max-content;

		&::before {
			content: '';
			position: absolute;
			width: inRem(15px);
			height: inRem(15px);
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url($path-static-media + '/list-point-red.svg');
			inset-inline-start: 0;
			inset-block: 0;
			margin-block: auto;
		}
	}

	&__description-container {
		margin: inEm(40px) 0 inEm(63px);

		@include md-down {
			margin: inEm(16px) 0 inEm(40px);
		}
	}

	@include md-down {

		&__description {

			br {
				display: none;
			}
		}
	}

	&__item-container {
		margin-top: inEm(33px);

		@include md-up {
			column-gap: inEm(16px);
		}

		@include md-down {

			svg {

				path {

					&:nth-child(2) {
						stroke: $clr-soft-gray;
					}
				}
			}
		}
	}

	&__button-container {
		margin-top: inEm(64px);

		@include md-down {
			margin-top: inEm(40px);
		}
	}
}

@keyframes ticker {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}
