.x-services {
	margin-top: inEm(96px);

	@include md-down {
		margin-top: inEm(48px);
		text-align: center;
	}

	&__items {
		margin-top: inEm(64px);
		overflow: hidden;

		@include md-down {
			margin-top: inEm(48px);
			overflow: visible;
		}
	}

	&__slider-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: inEm(20px);
	}

	&__slide {
		background: $clr-base;
		color: $clr-soft-gray;
		min-height: inEm(280px);
		padding: inEm(60px);


		@include md-down {
			min-height: auto;
			width: inEm(260px);
			padding: inEm(40px);
			aspect-ratio: 1/1;
			display: flex;
			align-items: center;
		}

		&-image-container {
			top: 0;
			inset-inline-start: 0;
			width: 100%;
			height: 100%;
		}

		&-title {
			font-family: $font-family-second;
			font-weight: 600;
			font-size: inEm(28px);
			text-align: center;

			@include md-down {
				font-size: inEm(14px);

				br {
					display: none;
				}
			}
		}
	}

	&__slider-nav-container {
		margin-top: inEm(16px);
		column-gap: inEm(7px);
	}
}
