.x-simple-three-cards {
	padding-block: inEm(96px);

	@include md-down {
		padding-block: inEm(48px);
	}

	&__items {
		margin: inEm(54px) inEm(-10px) inEm(-10px);

		@include md-down {
			margin-top: inEm(25px);
		}
	}

	&__item {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
		padding: inEm(10px);
		text-align: center;

		@include md-down {
			flex: 0 0 100%;
			max-width: 100%;
		}

		&-inner {
			background: $clr-dark-gray;
			min-height: inEm(158px);
			padding: inEm(30px);

			@include md-down {
				min-height: inEm(114px);
				padding: inEm(35px);
			}
		}

		&-title {

			@include md-down {
				font-size: inEm(18px);
			}
		}
	}
}
