.x-simple-banner {
	margin-top: inEm(96px);
	background: $clr-base;
	color: $clr-soft-gray;
	text-align: center;

	@include md-down {
		margin-top: inEm(51px);
	}

	&__wrapper {
		padding: inEm(96px) 0 inEm(94px);

		@include md-down {
			padding: inEm(48px) 0;
		}
	}

	&__image-container {
		width: inEm(454px);
		aspect-ratio: 1 / 1;
		inset: 0;
		margin: auto;

		@include md-down {
			width: inEm(308px);
		}
	}

	&__description-container {
		margin-top: inEm(40px);

		@include md-down {
			margin-top: inEm(12px);
		}
	}

	&__description,
	&__title {

		br {

			@include md-down {
				display: none;
			}
		}
	}

	&__button-container {
		margin-top: inEm(60px);

		@include md-down {
			margin-top: inEm(36px);
		}
	}
}
