.x-tabs {
	margin-top: inEm(192px);

	@include md-down {
		margin-top: inEm(48px);
	}

	&__tabs {
		margin-top: inEm(32px);

		@include md-down {
			margin-top: inEm(23px);
		}
	}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(5, minmax(max-content, 20%));
		border-bottom: 1px solid rgba(32, 32, 44, .3);

		@include md-down {
			grid-template-columns: 1fr;
			border: none;
			margin-inline: inEm(-20px);
			width: auto;
		}
	}

	@include md-down {

		&__mobile-wrapper {
			margin-inline: inEm(-20px);
			padding: 0 inEm(20px) inEm(36px);

			&:nth-child(even) {
				background-color: $clr-dark-gray;
			}
		}
	}

	&__button {
		font-size: initial;
		position: relative;
		padding: inEm(32px) inEm(50px);
		transition: opacity $transition-default;

		@include md-up {

			&:first-child {
				padding-left: 0;
				text-align: left;
			}

			&:last-child {
				padding-right: 0;
				text-align: right;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -1.5px;
				height: 3px;
				background: $clr-action;
				opacity: 0;
				transition: opacity $transition-default;
			}

			&_active {
				pointer-events: none;

				&::after {
					opacity: 1;
				}
			}
		}

		@include md-down {
			padding: inEm(25px) 0;
			text-align: left;
		}
	}

	&__button-title {
		pointer-events: none;
		font-family: $font-family-second;
		font-weight: 600;
		font-size: inEm(28px);
		color: $clr-base;

		@include md-down {
			font-size: inEm(18px);
			line-height: 1.2;
		}
	}

	&__content {
		display: none;
		opacity: 0;
		grid-template-columns: auto inEm(732px);
		column-gap: inEm(85px);
		padding-top: inEm(40px);
		transition: opacity $transition-default;

		@include md-down {
			grid-template-columns: 1fr;
			padding-top: 0;
			row-gap: inEm(24px);
		}

		&_prepare {
			display: grid;
		}

		&_active {
			opacity: 1;
		}
	}

	&__button-container {

		@include md-down {
			margin-top: inEm(36px);
		}
	}

	&__right-side {
		display: flex;
		flex-direction: column;
		row-gap: inEm(64px);

		@include md-up {
			justify-content: space-between;
		}

		@include md-down {
			order: -1;
			row-gap: inEm(36px);
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
	}
}
