.x-tasks {
	position: relative;
	margin-top: inEm(179px);

	@include md-down {
		margin-top: inEm(96px);
		text-align: center;
	}

	&_even & {

		&__button-container {
			position: relative;
			inset-inline-end: auto;
			margin-top: inEm(60px);
		}
	}

	&__title {

		@include md-down {

			br {
				display: none;
			}
		}
	}

	&__items {
		margin-top: inEm(64px);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: inEm(20px);

		@include md-down {
			margin-top: inEm(48px);
			grid-template-columns: 1fr;
			gap: inEm(12px);
		}
	}

	&__item {
		background: $clr-dark-gray;
		row-gap: inEm(14px);
		padding: inEm(28px);

		@include md-down {
			padding: inEm(40px) inEm(48px) inEm(48px);
			row-gap: 0;
		}
	}

	&__item-icon-container {
		width: inEm(53px);
		height: inEm(44px);

		@include md-down {
			margin-inline: auto;
		}
	}

	@include md-down {

		&__item-title-container {
			margin-top: inEm(19px);
		}

		&__item-description-container {
			margin-top: inEm(12px);
		}
	}

	&__button-container {
		gap: inEm(23px);
		width: max-content;
		position: absolute;
		bottom: 0;
		inset-inline-end: 0;
	}
}
