.x-three-cards {
	padding-top: inEm(96px);
	padding-bottom: inEm(96px);
	background: $clr-dark-gray;

	@include md-down {
		padding-top: inEm(48px);
		padding-bottom: inEm(48px);
		text-align: center;
	}

	&__items {
		margin: inEm(-18px);
	}

	&__item {
		padding: inEm(18px);
		flex: 0 0 33.3333%;
		max-width: 33.3333%;

		@include md-down {
			flex: 0 0 100%;
			max-width: 100%;
		}

		&-title {
			color: $clr-muted-blue;
		}

		&-sub-title-container {
			margin-top: inEm(32px);

			@include md-down {
				margin-top: inEm(28px);
			}
		}

		&-description-container {
			margin-top: inEm(16px);

			@include md-down {
				margin-top: inEm(14px);
			}
		}
	}
}
