// Styling content elements from the editor only

// Styles with a 'zero' specificity (inside the :where selector)
:where(.entry-content) {
	@import 'content';
}

// Styles with an additional specificity (inside the .class selector)
.entry-content {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.wp-block-column {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.h2 {
	font-family: $font-family-second;
	font-weight: 600;
	font-size: inEm(56px);
	line-height: 1.15;

	@include md-down {
		font-size: inEm(30px);
	}
}

.h3 {
	font-family: $font-family-second;
	font-weight: 600;
	font-size: inEm(28px);

	@include md-down {
		font-size: inEm(18px);
		line-height: 1.2;
	}
}

.h4, h4 {
	font-family: $font-family-second;
	font-weight: 600;
	font-size: inEm(20px);
}

.h5 {
	font-family: $font-family-second;
	font-weight: 600;
	font-size: inEm(20px);
}

.body-1 {
	font-size: inEm(16px);
	line-height: 1.46;

	@include md-down {
		@include min-font;
		line-height: normal;
	}
}

.body-2 {
	font-size: inEm(14px);
}

.body-3 {
	font-size: inEm(12px);
}

.text-button-large {
	font-size: inEm(14px);
}

.text-button-small {
	font-size: inEm(12px);
}
