$font-display: swap;
$font-style: normal;

@font-face {
	font-family: 'Manrope';
	src: url('../../fonts/Manrope-Medium.woff2') format('woff2');
	font-display: $font-display;
	font-weight: 500;
	font-style: $font-style;
}

@font-face {
	font-family: 'Onest';
	src: url('../../fonts/Onest-SemiBold.woff2') format('woff2');
	font-display: $font-display;
	font-weight: 600;
	font-style: $font-style;
}
